body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  background-color: black;
}

.nav-container {
  display: flex;
  align-items: center;
  padding: 0px 10px;
  z-index: 2;
  position: fixed;
  width: 100%;
  color: darkred;
  font-weight: bold;
  transition: background-color 0.3s ease; 
  background-color: white;
}

.nav-user {
  display: flex;
  flex: 1;
}

.nav-shortcuts {
  display: flex;
  flex: 2;
  align-items: center;
}

.nav-shortcut-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex: 1;
  height: 100px;
}

.nav-shortcut-links {
  display: flex;
  position: relative;
  flex: 1;
  flex-wrap: wrap;
  margin-right: 100px;
  justify-content: space-evenly;
  align-items: flex-start;
  text-decoration: none;
  color: black;
}

.nav-shortcut-dropdown {
  display: none;
  position: relative;
  background-color: white;
  background-image: url('../RESOURCES/mainAdminImgs/nav-dropdown.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  padding: 20px;
  z-index: 1;
}

.nav-shortcut-dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.nav-shortcut-dropdown:hover .nav-shortcut-dropdown-content {
  display: block;
}

@media screen and (max-width: 1000px) {
  .nav-shortcuts {
    flex: 1;
  }

  .nav-shortcut-links {
    display: none;
  }

  .nav-shortcut-dropdown {
    display: block;
  }
}

.nav-logo--fit {
  max-width: 50%;
  max-height: 50%;
  object-fit: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.nav-user-container {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
  color: #2D5F4D;
}

.nav-shortcut-links--design {
  display: flex;
  padding: 10px;
  text-decoration: none;
  color: grey;
}

.nav-shortcut-links--active {
  color: #2D5F4D;
  border-bottom: 1px solid #FFD17B;
}

.main-admin-welcome-container {
  width: 40%;
  padding: 100px;
  display: block;
  z-index: 0;
  position: absolute;
  left: 0;
  border-radius: 20px;
  color: white;
}

.main-admin-welcome-container span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1vw;
}

.main-admin-welcome-container p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1vw;
  
}

.main-admin-welcome {
  color: white;
  font-size: 6vw;
  text-align: left;
  margin: 30px 0;
}

.main-admin-options {
  display: flex;
  height: 100vh;
  background-color: white;
  z-index: 1;
  position: relative;
}

.main-admin-background-img {
  position: absolute;
  background: url('../RESOURCES/mainAdminImgs/home-page-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: brightness(0.8);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.main-admin-background-img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.main {
  display: flex;
  flex-direction: column;
  position: relative;
}

.main-admin-introduction {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-admin-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
  background-color: white;
  position: relative;
}

.divider {
  background: url('../RESOURCES/SVG/main-admin/ripped-edge.svg');
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1000;
  background-size: cover;
  width: 100%;
  aspect-ratio: 900/50;
  z-index: 1;
}

.main-admin-options-label {
  display: flex;
  flex-direction: column;
  font-size: 7vh;
  color: rgb(1, 113, 74);
  padding-top: 100px;
  padding-bottom: 170px;;
  width: 70%;
  align-items: center;
  border-top: #2D5F4D solid 2px;
}

.main-admin-options-label--subtitle {
  font-size: 4vh;
  padding-top: 10px;
}

.main-admin-options-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 70%;
  height: 100%;
  flex-wrap: wrap;
  position: relative;
}

.main-admin-options-container-manage-orders {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(34, 58, 35, 0.8);
  padding: 40px;
  border-radius: 20px;
  margin-right: 20px;
}

.main-admin-options-container--layout {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.main-admin-options-container-layout--design {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-admin-options-container-layout-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: rgba(182, 23, 24, 0.8);
}

.main-admin-options-container-layout-option button {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1.5vw;
  margin: 20px;
  justify-content: flex-start;
  cursor: pointer;
}

.main-admin-options-container-layout-option-label {
  color: white;
  font-size: 2vw;
  padding: 20px;
  text-align: center;
}

.main-admin-options-container-manage-orders button {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1.5vw;
  margin: 20px;
  justify-content: flex-start;
  cursor: pointer;
  display: flex;
  flex: 0 1 auto; 
  align-self: flex-start; 
  max-width: 100%;
}

.main-admin-options-container-manage-orders-label {
  color: white;
  font-size: 2vw;
  padding: 20px;
}

.margin-bottom {
  margin-bottom: 20px;
}

.margin-right {
  margin-right: 20px;
}

.spacer {
  display: block;
  padding: 20px;
}