body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  background-color: #2D5F4D;
}

.nav-container {
  display: flex;
  align-items: center;
  padding: 0px 10px;
  z-index: 2;
  position: fixed;
  width: 100%;
  color: darkred;
  font-weight: bold;
  transition: background-color 0.3s ease; 
  background-color: white;
}

.nav-user {
  display: flex;
  flex: 1;
}

.nav-shortcuts {
  display: flex;
  flex: 2;
  align-items: center;
}

.nav-shortcut-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex: 1;
  height: 100px;
}

.nav-shortcut-links {
  display: flex;
  position: relative;
  flex: 1;
  flex-wrap: wrap;
  margin-right: 100px;
  justify-content: space-evenly;
  align-items: flex-start;
  text-decoration: none;
  color: black;
}

.nav-shortcut-dropdown {
  display: none;
  position: relative;
  background-color: white;
  background-image: url('../RESOURCES/mainAdminImgs/nav-dropdown.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  padding: 20px;
  z-index: 1;
}

.nav-shortcut-dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.nav-shortcut-dropdown:hover .nav-shortcut-dropdown-content {
  display: block;
}

@media screen and (max-width: 1000px) {
  .nav-shortcuts {
    flex: 1;
  }

  .nav-shortcut-links {
    display: none;
  }

  .nav-shortcut-dropdown {
    display: block;
  }
}

.nav-logo--fit {
  max-width: 50%;
  max-height: 50%;
  object-fit: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.nav-user-container {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
  color: #2D5F4D;
}

.nav-shortcut-links--design {
  display: flex;
  padding: 10px;
  text-decoration: none;
  color: grey;
}

.nav-shortcut-links--active {
  color: #2D5F4D;
  border-bottom: 1px solid #FFD17B;
}

#order-interface {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 150px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.order-interface-header {
  display: flex;
  flex-direction: row;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: rgba(1, 50, 33, 1);
  color: white;
  font-weight: bold;
  border-radius: 10px;
  margin-bottom: 20px;
}

.order-interface-products {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.order-interface-products-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 20px;
  background-color: rgba(1, 50, 33, 1);
  color: rgba(237, 224, 166, 1);
  border-radius: 20px;
  margin: 20px;
}

.order-interface-products-container-header {
  margin-top: 10px;
  margin-bottom: 0px;
  color: white;
}

.order-interface-products-container-info-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  margin-bottom: 10px;
}

.order-interface-products-container-info-box-summary {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 10px;
}

.order-interface-products-container-info-box-summary-description {
  padding: 10px 20px;
  background-color: rgba(171, 49, 49, 1);
  color: rgba(237, 224, 166, 1);
  margin: 10px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
}

.order-interface-products-container-info-box-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.order-interface-products-container-status-sign {
  color: rgba(171, 49, 49, 1);
}