/* Applied to All HTML Tags */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Container */
.Main-Container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #87906F;
}

/* Navigation Bar */
nav{
    width: 100%;
    height: 12%;
    background-color: transparent;
    display: flex;
    flex-direction: rowÍ¾
}

.nav-left-sec{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.Logo{
    margin-left: 15%;
    width: 65%;
}

.nav-right-sec{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items:center;
}

.btnA2{
    width: 25%;
    height: 40%;
    margin-right: 5%;
}

.nav-right-sec-btn{
    width: 100%;
    height: 100%;
    color: #ffffff;
    background-color: #850D0E;
    font-family: "Grenze", serif;
    font-size: 1vw;
    border-radius: 70px;
}

/* Main Section */
.Main-Section{
    width: 100%;
    height: 88%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Main Section Register Box */
.registerBox{
    width: 35%;
    height: 85%;
    background-color:#EACF9B;
    border-radius: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Main Section Register Box | Left Side*/
.registerBox-Box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Main Section Register Box | Left Side-Header*/
.registerBox-header{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
}

.registerBox-header > p{
    color: #FFFFFF;
    font-family: "Grenze", serif;
    font-size: 2.3vw;
    margin-left: 10%;
}

/* Main Section Register Box | Left Side-Main*/
.registerBox-main{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.registerBox-main > div{
    width: 100%;
    height: 12%;
    display: flex;
    flex-direction: row;
}

.registerBox-main > div > div{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.registerBox-main > div > div >label{
    color: #660001;
    font-family: "Grenze", serif;
    font-size: 1.3vw;
    margin-left: 35%;
}

.registerBox-main > div > div >input{
    width: 65%;
    height: 80%;
    border-radius: 30px;
    font-family: "Grenze", serif;
    font-size: 1vw;
    border: none;
    position: relative;
    right: 5%;
}

/* Main Section Register Box | Left Side-Section*/
.registerBox-section{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.sec-registerBtn{
    width: 30%;
    height: 60%;
    background-color:#850D0E;
    border-radius: 70px;
    color: #FFFFFF;
}

.btnA3{
    width: 30%;
    height: 60%;
}

.sec-loginBtn{
    width: 100%;
    height: 100%;
    background-color:#850D0E;
    border-radius: 70px;
    color: #FFFFFF;
}

/* Main Section Register Box | Left Side-Footer*/
.registerBox-footer{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
}

.registerBox-footer > p {
    font-family: "Grenze", serif;
    color: #660001;
}


