/* Applied to All HTML Tags */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Container */
.Main-Container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Navigation Bar */
nav{
    width: 100%;
    height: 12%;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    border-bottom: 10px solid rgba(0, 0, 0, 0.87);
}

.nav-left-sec{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.Logo{
    margin-left: 15%;
    width: 65%;
}

.nav-right-sec{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center
}

.btnA2{
    width: 25%;
    height: 40%;
    margin-right: 5%
}

.nav-right-sec-btn{
    width: 100%;
    height: 100%;
    color: #660001;
    font-family: "Grenze", serif;
    font-size: 1vw;
    background-color: transparent;
    border-radius: 70px;
}

/* Main Section */
.Main-Section{
    width: 100%;
    height: 88%;
    background-color: #223a23;
    display: flex;
    flex-direction: row;
}

.sec-left-sec{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Main Section Left Section Login Box */
.loginBox{
    width: 90%;
    height: 60%;
    background-color: #013221;
    border-radius: 55px;
    display: flex;
    flex-direction: column;
}

.loginBox > header{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.loginBox > header > p{
    color: #ffffff;
    font-family: "Grenze", serif;
    font-size: 3.5vw;
    margin-left: 12%;
}

.loginBox > main{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
}

.loginBox > main > .d1{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.loginBox > main > .d2{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: start;
    align-items: start;
}

.loginBox > main > .d1 > label, .loginBox > main > .d2 > label{
    color: #ffffff;
    font-family: "Grenze", serif;
    font-size: 1.5vw;
    margin-left: 12%; 
    margin-right: 12%;
}

.loginBox > main > .d1 > input{
    width: 50%;
    height: 40%;
    background-color: #223a23 ;
    border: 3px solid #F5F5F5;
    border-radius: 23px;
    margin-left: 4.5%;
    color: #ffffff;
}

.loginBox > main > .d2 > input{
    width: 50%;
    height: 40%;
    background-color: #223a23 ;
    border: 3px solid #F5F5F5;
    border-radius: 23px;
    color: #ffffff;
}

.loginBox > section{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 15%;
}

.loginBox > section > button, 
.loginBox > section > a{
    width: 30%;
    height: 40%;
    border-radius: 70px;
    margin-right: 1.5%;
    font-family: "Grenze", serif;
    font-size: 1vw;
}

.loginBox > section > a > button{
    width: 100%;
    height: 100%;
    border-radius: 70px ;
    font-family: "Grenze", serif;
    font-size: 1vw;
}

.loginBtn{
    background-color: #00AC70;
    color: #ffffff;
}

/* Main Section Right Section*/
.sec-right-sec{
    width: 50%;
    height: 100%;
    background-image: url(../RESOURCES/imgFiles/Login-Page/KUBO.png);
    background-repeat: no-repeat;
    background-size: cover;
}

